# Виртуальные окружения
.venv/
venv/
env/
ENV/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
db.sqlite3
*.log
local_settings.py

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Операционные системы
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Логи и временные файлы
*.log
*.tmp
*.temp

# Миграции (можно раскомментировать если не хотите их в гите)
# flashcards_project/flashcards/migrations/